.artifact-details__container {
  position: fixed;
  background-color: hsla(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.artifact-details {
  position: absolute;
  width: 32rem;
  max-width: 90%;
  height: 100vh;
  right: 0;
  top: 0;
  background: linear-gradient(to right, transparent, hsl(57, 94%, 87%) 3rem);
  padding-left: 3rem;
}

.artifact-details__content {
  padding: var(--page-padding);
}

.artifact-details__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 1rem;
  margin-bottom: 1rem;

  #close {
    padding: 0.2rem;
  }
  #close:focus,
  #close:hover {
    outline: none;
    background-color: white;
  }
}
