.external-link {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: white;
  transition: background ease-out 0.2s;
  text-decoration: none;
  text-align: center;
  color: var(--color-accent);
  border-radius: 0.5rem;

  @media (--viewport-sm) {
    width: auto;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.external-link:hover {
  background-color: white;
}
