.float {
  --float-max-width: 44rem;

  position: relative;
  width: 100%;
  padding-inline: 1rem;

  @media (--viewport-sm) {
    width: 50%;
  }
}

.float--left {
  .float-inner {
    margin-inline-start: auto;
  }
}

.float--right {
  @media (--viewport-sm) {
    transform: translateX(100%);
  }
}

.float-inner {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;

  @media (--viewport-sm) {
    max-width: var(--float-max-width);
  }
}

.float-inner--yellow {
  background-color: rgb(255, 250, 208);
}
