@import "tailwindcss";

@font-face {
  font-family: 'Uncut Sans';
  src: url('../fonts/uncut-sans-regular.woff2') format('woff2');
  font-display: swap;
}

@theme {
  --font-sans: 'Uncut Sans', sans-serif;
}
