@import 'node_modules/modern-normalize/modern-normalize.css';
@import './stack.css';
@import './info.css';
@import './intro.css';
@import './timeline.css';

@font-face {
  font-family: 'Martian Grotesk';
  src: url('../fonts/martian-grotesk-std-lt.woff2') format(woff2);
  display: swap;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('../fonts/martian-mono-light.woff2') format(woff2);
  display: swap;
}

:root {
  --font-sans: 'Martian Grotesk', sans-serif;
  --font-serif: 'Newsreader', serif;
  --font-mono: 'Martian Mono', monospace;

  --bg-color: rgb(232, 234, 240);
  --text-color: rgb(55, 65, 81);
  --text-color-hover: rgb(90, 110, 142);

  --blue: rgb(66, 66, 245);

  --shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  --header-height: 4rem;

  --outer-padding: 0.6rem;
}

@custom-media --viewport-sm (min-width: 700px);

@media (--viewport-sm) {
  :root {
    --outer-padding: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;

  height: var(--header-height);
  padding: 0 var(--outer-padding);

  a {
    color: var(--blue);
    font-size: 1.4em;
    text-decoration: none;
    transition: color 100ms ease-in-out;
  }
  a:hover {
    color: var(--text-color-hover);
  }
}

.head-section {
  min-height: calc(100vh - var(--header-height));
  display: grid;
  gap: 2rem;
  padding: 0 var(--outer-padding);

  @media (--viewport-sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.head-section__item {
  display: grid;
  place-content: center;
}

.head-text {
  font-family: var(--font-sans);
  font-size: 1.2rem;
  line-height: 140%;

  @media (--viewport-sm) {
    font-size: 1.4rem;
  }

  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

.stack-wrapper {
  max-width: 300px;

  @media (min-width: 1200px) {
    max-width: 400px;
  }
}
