.project-sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-tags {
  margin-bottom: 0.5rem;
}

.project-tag {
  background-color: hsla(0deg, 0%, 0%, 0.06);
  color: var(--color-text);
  padding-block-start: 0.15rem;
  padding-block-end: 0.2rem;
  padding-inline: 0.5rem;
  border-radius: 3px;
  font-size: 0.75rem;
}

.project-title {
  font-size: 1.2rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
