@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.project-thumbnails-stack {
  --radius: 30px;
  --offset: 10deg;

  display: grid;
  grid-template-areas: 'stack';
  position: relative;

  width: 260px;
  height: 260px;

  img {
    --angle: calc(
      var(--stack-i) * calc(360deg / var(--total-items) + var(--offset))
    );

    width: 240px;
    height: 240px;
    aspect-ratio: '1/1';

    grid-area: stack;
    z-index: calc(var(--total-items) - var(--stack-i));
    transform: translate(
      calc(cos(var(--angle)) * var(--radius)),
      calc(sin(var(--angle)) * var(--radius))
    );
    transition:
      --angle 0.5s ease-in-out,
      opacity 0.3s ease-in-out;

    &.fading-out {
      opacity: 0;
    }

    &.no-transition {
      transition: none;
    }

    &.is-top:hover {
      cursor: pointer;
    }
  }

  .indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    font-size: 12px;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
    font-family: var(--font-mono);
  }
}
