@font-face {
  font-family: 'Hedvig Letters Sans';
  src: url('../fonts/hedvig-letters-sans-regular.woff2') format(woff2);
  display: swap;
}

@custom-media --viewport-sm (min-width: 700px);

:root {
  --font-sans: 'Hedvig Letters Sans', sans-serif;
  --font-size: 1rem;

  --color-bg: hsl(220, 13%, 91%);
  --color-text: hsl(210, 4%, 22%);
  --color-accent: blue;

  --shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

  @media (--viewport-sm) {
  }
}
