@font-face {
  font-family: 'Martian Mono';
  src: url('../fonts/martian-mono-light.woff2') format(woff2);
  display: swap;
}

@font-face {
  font-family: 'Whois Mono';
  src: url('../fonts/whois-mono.woff2') format(woff2);
  display: swap;
}

@font-face {
  font-family: 'Hedvig Letters Sans';
  src: url('../fonts/hedvig-letters-sans-regular.woff2') format(woff2);
  display: swap;
}

@custom-media --viewport-sm (min-width: 700px);

:root {
  --font-sans: 'Hedvig Letters Sans', sans-serif;
  --font-mono: 'Martian Mono', monospace;

  --color-timeline: hsl(225, 21%, 93%);
  --color-light: hsl(0, 0%, 100%);
  --color-text: hsl(217, 19%, 27%);

  @media (--viewport-sm) {
  }
}
