.timeline {
  --day-space: 40px;

  position: relative;
  height: calc(var(--full-timeline-offset) * var(--day-space));
}

.timeline__date-container {
  position: absolute;
  width: 100%;
  top: calc(var(--time-offset) * var(--day-space));
  padding: 0 var(--outer-padding);
}

.timeline__date {
  position: relative;
  pointer-events: none;
  z-index: 100;
}

.timeline__date-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--blue);
}

.timeline__date-label {
  position: absolute;
  transform: translateY(-50%);
  font-family: var(--font-mono);
  font-size: 10px;
  background-color: white;
  padding: 0.2em 1em;
  border-radius: 1000px;
  box-shadow: var(--shadow);
}
