.timeline {
  --day-space: 50px;

  position: relative;
  height: calc(var(--full-timeline-offset) * var(--day-space));

  @media (--viewport-sm) {
    --day-space: 40px;
  }
}

.timeline__date-container {
  position: absolute;
  width: 100%;
  transform: translate(0px, calc(var(--time-offset) * var(--day-space)));
  /* padding: var(--page-padding); */
  pointer-events: none;
  display: flex;
  align-items: center;
}
.timeline__date-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  z-index: -2;
}

.timeline__date-label {
  font-family: var(--font-mono);
  font-size: 10px;
  padding-right: 0.2rem;
  background-color: var(--color-timeline);
}
