.top-header {
  position: relative;
}

.sphere-container {
  width: 100%;
  height: 100svh;

  mask-composite: intersect, intersect, intersect;
  mask-image:
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);

  opacity: 0;

  @media (--viewport-sm) {
    width: 1200px;
    max-width: 100vw;
    height: 800px;
    max-height: 100svh;
    margin-inline: auto;
  }
}

.selected-video-container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  background-color: white;
  color: blue;
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
}

.sphere-video {
  display: none;
  position: absolute;
}
