.top-header {
  height: 100svh;

  @media (--viewport-sm) {
    height: 800px;
  }

  .top-header-heading {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    top: 1rem;
    left: 1rem;
    background-color: white;
    color: var(--color-accent);
    padding-block: 0.4rem;
    padding-inline: 0.4rem 0.8rem;
    border-radius: 10rem;
    z-index: 1;
    box-shadow: var(--shadow);
  }

  h1 {
    font-size: var(--font-size);
    text-transform: uppercase;
    line-height: var(--font-size);
    margin: 0;
  }

  .top-header-sketch-info {
    display: none;
    position: fixed;
    z-index: -100;
    top: 1rem;
    right: 1rem;
    padding: 0.4rem;
    font-size: var(--font-size);
    line-height: 1.2rem;
    text-align: right;

    @media (--viewport-sm) {
      display: block;
    }

    p {
      max-width: 22rem;
      margin: 0;
    }
  }
}

.sphere-container {
  position: fixed;
  width: 100%;
  height: 100svh;
  z-index: 0;

  left: 50%;
  transform: translateX(-50%);

  mask-composite: intersect, intersect, intersect;
  mask-image:
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);

  opacity: 0;

  @media (--viewport-sm) {
    width: 1200px;
    max-width: 100vw;
    max-height: 800px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.selected-video-container {
  opacity: 0;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

.selected-video-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, calc(-50% + 110px));
  text-wrap: nowrap;
  background-color: white;
  padding: 0.1rem 0.4rem 0.15rem;
  border-radius: 0.2rem;
  box-shadow: var(--shadow);

  @media (--viewport-sm) {
    transform: translate(-50%, calc(-50% + 140px));
  }
}

.scroll-down-button {
  border: none;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  background-color: white;
  opacity: 1;
  color: var(--color-accent);
  cursor: pointer;
  border-radius: 0.4rem;

  @media (hover: hover) {
    display: none;
  }
}

.sphere-videos-container {
  display: none;
  position: absolute;
  top: -10000px;
  left: -10000px;
}
