@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Martian Grotesk';
  src: url('./fonts/martian-grotesk-std-lt.woff2') format(woff2);
  display: swap;
}

@font-face {
  font-family: 'Newsreader';
  src: url('./fonts/newsreader-regular.woff2') format(woff2);
  display: swap;
}

:root {
  --font-sans: 'Martian Grotesk', sans-serif;
  --font-serif: 'Newsreader', serif;

  --bg-color: rgb(232, 234, 240);
  --text-color: rgb(55, 65, 81);
  --text-color-hover: rgb(90, 110, 142);

  --outer-padding: 0.6rem;
}

@media (min-width: 700px) {
  :root {
    --outer-padding: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--text-color);
  margin: 0;
}

p {
  font-family: var(--font-serif);
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  padding: var(--outer-padding);
  margin-block-end: 2rem;

  a {
    color: rgb(66, 66, 245);
    font-size: 1.4em;
    text-decoration: none;
    transition: color 100ms ease-in-out;
  }
  a:hover {
    color: var(--text-color-hover);
  }
}

main {
  padding: var(--outer-padding);
}

.body-text {
  font-size: 1.1rem;
  width: 100%;
  max-width: 500px;
  line-height: 1.4;
}
