@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Martian Grotesk';
  src: url('./fonts/martian-grotesk-std-lt.woff2') format(woff2);
  display: swap;
}

:root {
  --font-sans: 'Martian Grotesk', sans-serif;

  --bg-color: rgb(232, 234, 240);
  --text-color: rgb(55, 65, 81);
  --text-color-hover: rgb(100, 110, 126);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--text-color);
  margin: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  padding: 1.4em;

  a {
    font-size: 1.4em;
    text-decoration: none;
    transition: color 100ms ease-in-out;
  }
  a:hover {
    color: var(--text-color-hover);
  }
}
